.container {
  min-height: 100vh;
  background-color: #0e0e11;
}

.main {
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  text-align: center;
  color: #c084fc;
  margin-bottom: 2rem;
  font-weight: 700;
  text-shadow: 0 0 10px rgba(192, 132, 252, 0.3);
}

@media (max-width: 640px) {
  .title {
    font-size: 2rem;
  }
}
